* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    letter-spacing: 0.5px;
}

p {
    line-height: 1.6195;
}

body,
html {
    overflow-x: hidden;
    background-color: #000000;
}


@media screen and (min-width: 1600px) {
    .banner-container-wrapper {
        max-width: 1440px;
        margin: auto;
    }
}

.banner-grid-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}


.vertical-scroll-img-carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.img-container {
    overflow: hidden;
    height: 700px;
}

.banner-grid-row>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 40px 80px;
    position: relative;
    top: 0;
}

.banner-grid-row>div:nth-child(1)>img {
    position: absolute;
    top: -85px;
    left: -35px;
    transform: rotate(197deg);
}

.banner-grid-row>div>h1 {
    font-size: 82px;
    color: white;
    font-family: 'Poppins';
}

.banner-grid-row>div>p {
    font-family: 'Poppins';
    font-size: 18px;
    color: white;
    line-height: 1.6195;
    margin-top: 30px;
}

.banner-grid-row>div>button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: fit-content;
    margin-top: 35px;
}

.sliding-background {
    --imageHeight: 700px;
    background: url("./Assets/Images/bannerimg1.png") repeat-y;
    height: calc(var(--imageHeight) * 2);
    animation: slide 9s linear infinite;
}

.sliding-background-sec {
    --imageHeight: 700px;
    background: url("./Assets/Images/bannerimg2.png") repeat-y;
    height: calc(var(--imageHeight) * 2);
    animation: slideSec 9s linear infinite;
}


@keyframes slide {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(calc(var(--imageHeight) * -1));
    }
}

@keyframes slideSec {
    from {
        transform: translateY(calc(var(--imageHeight) * -1));
    }

    to {
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1080px) {
    .banner-grid-row>div:nth-child(1) {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 992px) {
    .banner-grid-row {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}



/* Horizontal Image Carousel */

.img-container-horizontal {
    overflow: hidden;
    width: 3643px;
    /* Adjust as needed */
    height: 500px;
    margin-bottom: 40px;
    /* Adjust as needed */
}

.sliding-background-horizontal {
    --imageWidth: 3643px;
    /* Adjust to match the container width */
    background: url("./Assets/Images/slider-group.png") repeat-x;
    width: calc(var(--imageWidth) * 2);
    height: 100%;
    animation: slideH 9s linear infinite;
}

@keyframes slideH {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(calc(var(--imageWidth) * -1));
    }
}

.horizontal-carousel {
    display: none;
}


@media screen and (max-width: 992px) {
    .banner-grid-row>div:nth-child(2) {
        display: none;
    }

    .horizontal-carousel {
        display: block;
    }
}

/* Horizontal Image Carousel */

@media screen and (max-width: 640px) {
    .banner-grid-row>div:nth-child(1) {
        padding: 40px 40px;
    }

    .banner-grid-row>div>h1 {
        font-size: 52px;
    }
}


@media screen and (max-width: 640px) {
    .banner-grid-row>div:nth-child(1) {
        padding: 40px 20px;
    }

    .banner-grid-row>div>h1 {
        font-size: 42px;
    }
}

/* Button code */

/* CSS */
.button-92 {
    --c: #fff;
    /* text color */
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p, 100%)/300% no-repeat,
        #004dff;
    /* background color */
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i, -1)));
    text-shadow: calc(var(--_i, -1)* 0.08em) -.01em 0 var(--c),
        calc(var(--_i, -1)*-0.08em) .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;
    font-family: 'Poppins' !important;
    font-size: 27px !important;
    padding: 10px 40px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px;
}

.button-92:hover,
.button-92:focus-visible {
    --_p: 0%;
    --_i: 1;
}

.button-92:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
}

.button-92 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    padding: .1em .3em;
}

/* Button code */

/* Benefits css starts here */
.dark-bg {
    background-color: #000;
    position: relative;
    top: 0;
}

.dark-bg>img:last-child {
    position: absolute;
    top: 0;
}


.gradient-heading-bg {
    position: relative;
    padding: 100px 0px;
}

.erp-products {
    padding: 0px 0px 60px 0px !important;
}

@media screen and (max-width: 1080px) {
    .gradient-heading-bg {
        padding: 100px 0px 50px 0px;
    }
}

.gradient-heading-bg h2,
.gradient-heading-bg h3 {
    color: white;
    z-index: 9999;
    font-family: 'Poppins';
    font-size: 48px;
    display: inline-block;
    position: relative;
    font-weight: 800;
    text-transform: uppercase;
}

/* .gradient-heading-bg h3::after {
    content: "";
    height: 6px;
    width: 20%;
    background-color: white;
    position: absolute;
    bottom: -.4em;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%);
}
 */


.gradient-heading-bg:before {
    background: url('./half-circle-bg.png') no-repeat scroll bottom center;
    background-size: cover;
    content: "";
    height: 250px;
    width: 100%;
    position: absolute;
    top: 0;
    filter: grayscale(100%);
    opacity: 0.2;
}

.decode {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: auto;
    padding: 0px 10px;
}

.works {
    text-align: center;
    z-index: 999;
}

.clearfix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    max-width: 1280px;
    margin: auto;
    text-align: center;
    padding: 20px 10px;
}


.step-number {
    background: rgb(255 255 255 / 5%);
    height: 120px;
    width: 120px;
    line-height: 120px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0px auto 15px;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
}

@media screen and (max-width: 598px) {
    .gradient-heading-bg h3 {
        font-size: 32px;
    }
}


.step-title {
    color: #008cba;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 24px;
}

.clearfix p {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Poppins';
    margin-top: 10px;
}

.clearfixs p {
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Poppins';
}

.clearfixs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 850px;
    margin: auto;
    text-align: center;
    padding: 60px 10px 100px 10px;
}

.manual {
    display: none;
}

@media screen and (max-width: 1080px) {
    .clearfix {
        grid-template-columns: repeat(2, 1fr);
    }

    .clearfixs {
        display: none;
    }

    .manual {
        display: block;
    }

    .gradient-heading-bg h2 {
        font-size: 32px;
    }
}


@media screen and (max-width: 640px) {
    .clearfix {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 30px;
    }

    .clearfixs {
        padding: 60px 30px 100px 30px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 598px) {
    .clearfix {
        grid-template-columns: repeat(1, 1fr);
    }
}

.SERVICE {
    background-color: #000000;
    padding: 80px 10px 80px 10px;
    position: relative;
    background-image: url('./Assets/Images/Footer img.png');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    top: 0;
}

.cirlce-row {
    width: 400px;
    height: 61px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -160px;
    transform: rotate(30deg);
    /* z-index: 99999999; */
    border-radius: 50px;
}

@media screen and (max-width: 1080px) {
    .cirlce-row {
        width: 300px;
    }
}

@media screen and (max-width: 992px) {
    .cirlce-row {
        display: none;
    }
}

/* .circle-right-row {
    width: 440px;
    height: 80px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: -160px;
    transform: rotate(-30deg);
    z-index: 99999999;
    border-radius: 50px;
} */

/* .SERVICE::after {
    background: url('./Assets/Images/Layer_1\ \(1\).png') no-repeat scroll bottom center;
    background-size: cover;
    content: "";
    height: 250px;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.1;
} */


.animate {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 1280px;
    margin: auto;
    padding: 10px 10px;
}

.st-iconbox {
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    transition: all .4s ease;
    border: 1px solid #ffffff35;
    background-color: rgb(255 255 255 / 5%);
}


.st-iconbox:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.st-iconbox .iconbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border: .5px solid #ffffff35;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 5%);
    margin: auto auto 28px;
    transition: all .4s ease;
}

.st-iconbox:hover .iconbox-icon {
    border: .5px solid #fec544;
}


.st-iconbox:hover .iconbox-icon img {
    filter: grayscale(0);
    opacity: 1;
}

.iconbox-icon img {
    width: 52px;
    filter: grayscale(1);
    opacity: .35;
    transition: inherit;
}

.st-iconbox h3 {
    transition: all .4s ease;
    font-size: 24px;
    font-weight: 700;
    color: #fdfeff;
    margin-bottom: 10px;
    font-family: 'Poppins';
}

.st-iconbox p {
    font-size: 14px;
    font-family: 'Poppins';
    color: #fdfeff;
}


.st-iconbox:hover h3,
.st-iconbox:hover p {
    color: #fec544;
    transition: all .4s ease;
}

@media screen and (max-width: 1080px) {
    .animate {
        grid-template-columns: repeat(3, 1fr);
    }

    .SERVICE {
        margin-top: 70px;
    }
}


@media screen and (max-width: 992px) {
    .animate {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media screen and (max-width: 568px) {
    .animate {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Benefits css ends here */




/* Future & modern css starts here */
.bg__img {
    padding: 100px 20px 100px 20px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background: linear-gradient(0deg, rgb(0 0 0 / 80%), rgb(0 0 0 / 80%)), url('./Assets/Images/hero-bg.webp');
}


.hero .hero-animation__space-ship {
    position: absolute;
    top: 90px;
    right: 80px;
    max-width: 22vw;
    height: auto;
    opacity: 0.5;
    -webkit-animation: spaceship 30s linear infinite;
    animation: spaceship 30s linear infinite;
}

.hero .hero-animation__small-ring {
    position: absolute;
    top: 45%;
    left: 0px;
    max-width: 14vw;
    height: auto;
    -webkit-animation: shake 5s linear infinite;
    animation: shake 5s linear infinite;
}

.hero .hero-animation__space-ship img {
    width: 100%;

}

.hero .hero-animation__small-ring img {
    width: 100%;

}

@keyframes shake {
    0% {
        -webkit-transform: translate(-13px, 0);
        transform: translate(-13px, 0);
    }

    50% {
        -webkit-transform: translate(0px, 30px);
        transform: translate(0px, 30px);
    }

    100% {
        -webkit-transform: translate(-13px, 0);
        transform: translate(-13px, 0);
    }
}

@keyframes spaceship {
    0% {
        top: -10%;
        display: none;
    }

    20% {
        top: -30px;
        right: 80px;
        display: block;
    }

    40% {
        top: 90px;
        right: 80px;
    }

    80% {
        top: 100%;
        right: 50%;
        opacity: 0.1;
    }

    100% {
        top: 110%;
        display: none;
    }
}


.Newsletter {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    position: relative;
}

.Newsletter img {
    width: 100%;
}

.easy-area__content-single__inner {
    padding: 30px 30px 25px;
    /* border: 1px solid #008cba69; */
    margin: 25px 0px;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 15%);
}

.easy-area__content-single__inner h4 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Poppins';
}

.easy-area__content-single__inner p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Poppins';
    margin-bottom: 15px;
}

.easy-area__content h3 {
    font-size: 42px;
    font-family: 'Poppins';
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.easy-area__content>h3::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid white;
    width: 15%;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.easy_sect {
    margin-left: 80px;
}

.easy_last {
    margin-left: 160px;
}

.easy_sects {
    margin-right: 80px;
}

.easy_lasts {
    margin-right: 160px;
}

.newlee {
    max-width: 500px;
    margin: auto;
}


@media screen and (max-width: 992px) {
    .Newsletter {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .easy_sect {
        margin-left: 0px;
    }

    .easy_last {
        margin-left: 0px;
    }

    .easy_sects {
        margin-right: 0px;
    }

    .easy_lasts {
        margin-right: 0px;
    }

    .easy-area__content-single__inner h4 {
        font-size: 20px;
    }

    .easy-area__content h3 {
        font-size: 24px;
    }
}

/* Future & modern css ends here */


.erp-text {
    color: #004dff;
    border-bottom: 3px solid #004dff;
    padding-bottom: 0px;
}


/* History Component container css starts here */
.history-wrapper-container {
    position: relative;
    top: 0;
}

.history-wrapper-container>img {
    position: absolute;
    top: 0;
    right: -100px;
}

.history-container {
    max-width: 1400px;
    padding: 0px 20px 0px 20px;
    margin: 5rem auto 0rem auto;
}

.history-container>p {
    font-family: 'Poppins';
    margin-top: 0px;
    font-size: 16px;
}

.history-row-grid>div>h4,
p {
    color: white;
    font-family: 'Poppins';
}

.history-row-grid>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.history-row-grid>div>p:nth-child(1) {
    color: #004dff;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
}

.history-row-grid>div>p:nth-child(3),
.history-row-grid>div>p:nth-child(4) {
    margin-bottom: 1rem;
    font-size: 16px;
}

/* .history-row-grid>div>p:nth-child(4) {} */

.history-row-grid>div>h4 {
    text-transform: uppercase;
    font-size: 42px;
    text-align: right;
    margin-bottom: 2rem;
}


.history-row-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 50px;
}

.history-row-grid>div>img {
    width: 100%;
    margin-left: -75px;
    animation: UpDown 3s linear infinite;
}

@keyframes UpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media screen and (max-width: 992px) {
    .history-row-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
}

@media screen and (max-width: 598px) {
    .history-row-grid>div>h4 {
        font-size: 26px;
    }
}

/* History Component container css ends here */

/* Contact us component starts here */
.contact-us-wrapper {
    padding: 40px 0px 0px 0px;
}


.contact-us-container>h4 {
    color: white;
    font-size: 52px;
    text-align: center;
    font-family: 'Poppins';
}

.contact-us-container>p {
    text-align: center;
    font-family: 'Poppins';
    font-size: 18px;
}


.contact-us-grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin-top: 80px;
}

.contact-us-grid-row>div:nth-child(2) {
    background-color: white;
    /* height: 600px; */
    padding: 100px 50px;
    position: relative;
    top: 0;
    overflow: hidden;
}

.contact-us-grid-row>div:nth-child(2)>img {
    position: absolute;
    bottom: -135px;
    left: 90px;
}

.contact-us-grid-row>div:nth-child(1) {
    position: relative;
    top: 0;
}

.contact-us-grid-row>div>img:nth-child(1) {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-us-grid-row>div>img:nth-child(2) {
    position: absolute;
    bottom: 65px;
    right: 70px;
}


.contact-us-info-grid-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    margin-top: 40px;
    max-width: 650px;
}


.contact-us-info-grid-row>div {
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    transition: all .4s ease;
    border: 1px solid #ffffff35;
    background-color: rgb(255 255 255 / 5%);
    height: auto;
}

.contact-us-info-grid-row>div:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.contact-us-info-grid-row>div>img {
    width: 52px;
    height: 52px;
}


.contact-us-info-grid-row>div>p {
    color: white;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.contact-us-info-grid-row>div:nth-child(3)>p {
    margin-bottom: 0px;
}

.contact-us-info-grid-row>div>a {
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    overflow-wrap: break-word;
}

.contact-us-info-grid-row>div:nth-child(1)>button {
    padding: 0px 10px !important;
    height: 38px;
    font-size: 12px;
}

.contact-us-info-grid-row>div:nth-child(2) {
    position: relative;
    top: 50%;
}

/* Form component starts here */
.form-row-grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.form-row-grid-row>div>label {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #8D8D8D;
}

.form-row-grid-row>div>label>span {
    color: red;
}

.form-row-grid-row>div>input {
    height: 48px;
    border: none;
    border-bottom: 1px solid #8d8d8d74;
    width: 100%;
    outline: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    margin-top: -2px;
    background-color: transparent;
}


.textarea-row {
    margin-top: 30px;
}

.textarea-row>label {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #8D8D8D;
}

.textarea-row>textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #8d8d8d74;
    outline: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    margin-top: 8px;
    background-color: transparent;
}

.contact-us-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: transparent;
}

.contact-us-grid-row>div:nth-child(1) {
    padding: 40px 40px;
}

.contact-us-grid-row>div:nth-child(1)>p {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    margin-top: 10px;
}


.contact-us-grid-row>div:nth-child(1)>h4 {
    color: white;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Poppins';
}



.contact-us-button-container {
    position: relative;
    top: 0;
    z-index: 9999;
}


.contact-us-button-container>img {
    position: absolute;
    bottom: -200px;
}

@media screen and (max-width: 1080px) {
    .contact-us-grid-row {
        margin-top: 40px;
    }

    .contact-us-grid-row>div:nth-child(2) {
        padding: 40px 20px;
    }

    .contact-us-grid-row>div:nth-child(2)>img {
        bottom: -15px;
        left: 0;
    }
}

@media screen and (max-width: 992px) {
    .contact-us-grid-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-us-grid-row>div:nth-child(2)>img {
        bottom: -15px;
        left: 90px;
    }
}

@media screen and (max-width: 598px) {
    .contact-us-container>h4 {
        font-size: 32px;
    }

    .contact-us-container {
        padding: 0px 15px;
    }

    .contact-us-container>p {
        font-size: 16px;
    }

    .contact-us-grid-row>div:nth-child(1) {
        padding: 40px 15px;
    }

    .contact-us-info-grid-row>div>p {
        font-size: 14px;
    }

    .contact-us-info-grid-row>div>a {
        font-size: 12px;
    }

    .contact-us-info-grid-row>div:nth-child(1)>button {
        height: 30px;
        font-size: 10px;
    }

    .form-row-grid-row {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .contact-us-grid-row>div:nth-child(2)>img {
        bottom: 15px;
        left: 0px;
    }
}



@media screen and (min-width: 1700px) {
    .contact-us-wrapper {
        max-width: 1440px;
        margin: auto;
    }
}

/* CSS */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #000 0, #004dff 100%);
    border: 0;
    border-radius: 2px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Poppins";
    height: 52px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 38px;
    padding-right: 38px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

/* Form component ends here */
/* Contact us component ends here */


/* Carousel component starts here */
.carousel-container>div:nth-child(1) {
    max-width: 100%;
    margin: auto;
}

.carousel-container {
    margin-top: 40px;
}


.slick-row>div {
    background-color: rgba(50, 50, 93, 0.25);
    color: white;
    border-radius: 20px;
    /* padding: 30px 40px; */
}

.slick-slide>div>div {
    padding: 20px 60px;
}

.oem-certified>div>img {
    width: 200px;
    /* border-radius: 500px; */
}

.oem-certified>p:nth-child(1){
    font-family: 'Poppins';
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.30;
    margin-bottom: 20px;
}

.oem-certified>p:last-child{
    font-size: 16px;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 20px;
}

.oem-certified>div {
    background-color: #2D94F0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: auto;
}

.small-sz{
    width: 100px !important;
}

.small-szx{
    width: 120px !important;
}
/* Carousel component css ends here */


@media screen and (max-width: 1368px) {
    .banner-grid-row>div>h1{
        font-size: 62px;
    }
}

@media screen and (max-width: 598px) {
    .oem-certified>p:nth-child(1){
        font-size: 28px;
    }
    .slick-slide>div>div{
        padding: 20px 20px;
    }
    .banner-grid-row>div>h1{
        line-height: 1.1;
    }
}